a {
  text-decoration: none;
  color: rgb(250, 162, 162);
}

a:hover,
a:active {
  text-decoration: none;
  color: #ffb71c;
}

.navegation-menu {
  list-style: none;
  padding: 6px;
}

.navegation-list-label {
  display: inline-block;
  padding-left: 6px;
}
