<br>
<form #f="ngForm" (ngSubmit)="saveTransfer(f)">
  <mat-dialog-content>
    <section fxLayoutAlign="center">
      <mat-card>
        <div align="center">
          <h2>
            <mat-icon matSuffix>paid</mat-icon> Transferir
          </h2>
          <table cellspacing="20">
            <tr>
              <td>
                <mat-form-field>
                  <mat-label>Buscar Destinatario</mat-label>
                  <mat-select [(ngModel)]="selectDestinatary" name="destinatary"
                    (selectionChange)="selectedDestinatary($event)" ngModel required>
                    <mat-option *ngFor="let destinatarytr of recipients" value={{destinatarytr.destinatary_id}}>
                      {{destinatarytr.destinatary_name}}
                    </mat-option>
                  </mat-select>
                  <mat-error>Campo requerido</mat-error>
                </mat-form-field>
              </td>
            </tr>
          </table>
        </div>
        <div style="width: 500px; padding-bottom: 10px;">
          <div style="margin: 10px;" align="center">
            <mat-card #rut><b>RUT: </b><label> {{destinatary_rut}}</label></mat-card>
            <br>
            <mat-card #name><b>Nombre: </b><label> {{destinatary_name}}</label></mat-card>
            <br>
            <mat-card #mail><b>Correo: </b><label> {{destinatary_mail}}</label></mat-card>
            <br>
            <mat-card #bank><b>Banco: </b><label> {{destinatary_bank}}</label></mat-card>
            <br>
            <mat-card #typeAccount><b>Tipo de cuenta: </b><label> {{destinatary_typeAccount}}</label></mat-card>
            <br>
            <mat-card #numberAccount><b>N° de cuenta: </b><label> {{destinatary_numberAccount}}</label></mat-card>
          </div>
        </div>
        <div align="center">
          <mat-form-field>
            <mat-label>Monto</mat-label>
            <input #ammount type="number" matInput name="ammount" min="1" pattern="^[0-9]+" ngModel required>
            <mat-error>Campo requerido</mat-error>
          </mat-form-field>
        </div>
        <div align="center" style="padding-top: 20px;">
          <mat-dialog-actions>
            <button mat-button type="submit" mat-raised-button color="primary">Transferir</button>
          </mat-dialog-actions>
        </div>
      </mat-card>
    </section>
  </mat-dialog-content>
</form>
