<mat-toolbar color="primary">
  <button mat-icon-button (click)="onMenuToggleDispatch()">
    <mat-icon>menu</mat-icon>
  </button>
  <div fxFlex fxLayout fxLayoutAlign="center" fxHide.xs>
    <ul fxLayout="row" class="navegation-menu" fxLayoutGap="20px">
      <li>
          <a routerLink="/">
            <span>
              Mi Banco
            </span>
          </a>
      </li>
      <li *ngIf="statusUser">
        <span>-</span>
      </li>
      <li *ngIf="statusUser">
        Nueva Transferencia
      </li>
      <li *ngIf="statusUser">
        <button routerLink="/recipients" mat-raised-button style="background:#ffb81c; color: rgb(0, 0, 0);" (click)="openDialog()"><b>Nuevo destinatario</b></button>
      </li>
      <li *ngIf="statusUser">
        <button type="submit" mat-raised-button style="background:#ffb81c; color: rgb(0, 0, 0);"><b>Transferir</b></button>
      </li>
      <li *ngIf="statusUser">
        <button routerLink="/transfers" type="submit" mat-raised-button style="background:#ffb81c; color: rgb(0, 0, 0);"><b>Historial</b></button>
      </li>
      <li *ngIf="statusUser" (click)="logout()">
        <button type="submit" mat-raised-button style="background:#ffffff; color: rgb(0, 0, 0); margin-left: 100px;"><b>Salir</b></button>
      </li>
    </ul>
  </div>
</mat-toolbar>
