<div fxLayoutAlign="left">
  <div layout="row">
    <div flex>
      <h1><mat-icon matSuffix>mode_edit</mat-icon> Nuevo Destinatario</h1>
    </div>
  </div>
</div>
<div fxLayoutAlign="center">
  <mat-form-field fxFlex="40%">
    <input matInput type="text" (keyup)="doFilter($any($event.target).value)" placeholder="Buscar">
  </mat-form-field>
</div>

<mat-table [dataSource]="dataSource" matSort>
  <ng-container matColumnDef="rut">
    <mat-header-cell *matHeaderCellDef>RUT</mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.destinatary_rut}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.destinatary_name}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="mail">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Correo</mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.destinatary_mail}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="telephone">
    <mat-header-cell *matHeaderCellDef>Teléfono</mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.destinatary_telephone}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="bank">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Banco</mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.destinatary_bank}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="typeAccount">
  <mat-header-cell *matHeaderCellDef mat-sort-header>Tipo de cuenta</mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.destinatary_typeAccount}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="numberAccount">
    <mat-header-cell *matHeaderCellDef>Número de cuenta</mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.destinatary_numberAccount}}</mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="showColumns"></mat-header-row>
  <mat-row *matRowDef="let row, columns: showColumns"></mat-row>
</mat-table>

<mat-paginator [pageSize]="5" [pageSizeOptions]="[5,10,20]"></mat-paginator>

<button mat-fab id="btn-add" (click)="openDialog()">
  <mat-icon>add</mat-icon>
</button>
