<form
  #f="ngForm"
  (ngSubmit)="saveDestinatary(f)"
>
  <h2 mat-dialog-title color="primary"><mat-icon matSuffix>mode_edit</mat-icon>Nuevo Destinatario</h2>
  <mat-dialog-content>
    <section fxLayoutAlign="center" style="margin-top: 10px; margin-bottom: 10px;">
      <mat-card fxFlex="100%">
        <div
          fxLayout="column"
          fxLayout="center"
          fxLayoutGap="40px"
        >
          <table cellspacing="20">
            <tr>
              <td>
                <mat-form-field>
                  <mat-label>RUT</mat-label>
                  <input type="text" matInput placeholder="ingrese RUT" name="rut" ngModel required>
                  <mat-error>Campo requerido</mat-error>
                </mat-form-field>
              </td>
              <td>
                <mat-form-field>
                  <mat-label>Nombre</mat-label>
                  <input type="text" matInput placeholder="ingrese nombre" name="name" ngModel required>
                  <mat-error>Campo requerido</mat-error>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                <mat-form-field>
                  <mat-label>Correo</mat-label>
                  <input type="text" matInput placeholder="ingrese correo" name="mail" ngModel required>
                  <mat-error>Campo requerido</mat-error>
                </mat-form-field>
              </td>
              <td>
                <mat-form-field>
                  <mat-label>Teléfono</mat-label>
                  <input type="text" matInput placeholder="ingrese Teléfono" name="telephone" ngModel required>
                  <mat-error>Campo requerido</mat-error>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                <mat-form-field>
                  <mat-label>Tipo de cuenta</mat-label>
                    <mat-select [(ngModel)]="selectTypeAccount" name="typeAccount" (selectionChange)="selectedTypeAccount($event)" ngModel required>
                      <mat-option value="Cuenta vista">Cuenta vista</mat-option>
                      <mat-option value="Cuenta corriente">Cuenta corriente</mat-option>
                    </mat-select>
                    <mat-error>Campo requerido</mat-error>
                </mat-form-field>
              </td>
              <td>
                <mat-form-field>
                  <mat-label>Seleccione Banco</mat-label>
                  <mat-select [(ngModel)]="selectBank" name="bank" (selectionChange)="selectedBank($event)" ngModel required>
                    <mat-option *ngFor="let banktr of banks" value="banktr.name">
                      {{banktr.name}}
                    </mat-option>
                  </mat-select>
                  <mat-error>Campo requerido</mat-error>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                <mat-form-field>
                  <mat-label>N° de cuenta</mat-label>
                  <input type="text" matInput placeholder="ingrese N° de cuenta" name="numberAccount" ngModel required>
                  <mat-error>Campo requerido</mat-error>
                </mat-form-field>
              </td>
          </table>
        </div>
      </mat-card>
    </section>
  </mat-dialog-content>

  <mat-dialog-actions style="padding-left: 100p;">
    <button mat-button [mat-dialog-close]="true" mat-raised-button color="default">Cerrar</button>
    <button  mat-button type="submit" mat-raised-button color="primary" >Guardar</button>
  </mat-dialog-actions>

</form>
